version: '3'
services:
    relay0:
        build:
            context: ../../
            dockerfile: docker/Dockerfile
        depends_on:
            - homechain
            - sidechain 
        environment:
            - RELAY_ACCOUNT=0xe6cc4b147e3b1b59d2ac2f2f3784bbac1774bbf7
            - RELAY_PASSWORD=password
            - RUST_LOG=polyswarm_relay=trace
        networks:
            - homechain
            - sidechain
    relay1:
        build:
            context: ../../
            dockerfile: docker/Dockerfile
        depends_on:
            - homechain
            - sidechain 
        environment:
            - RELAY_ACCOUNT=0x28fad0751f8f406d962d27b60a2a47ccceeb8096
            - RELAY_PASSWORD=password
            - RUST_LOG=polyswarm_relay=trace
        networks:
            - homechain
            - sidechain
    relay2:
        build:
            context: ../../
            dockerfile: docker/Dockerfile
        depends_on:
            - homechain
            - sidechain 
        environment:
            - RELAY_ACCOUNT=0x87cb0b17cf9ebcb0447da7da55c703812813524b
            - RELAY_PASSWORD=password
            - RUST_LOG=polyswarm_relay=trace
        networks:
            - homechain
            - sidechain

